
<div>
    <div class="page-heading">
        <div class="swnlogo-style">
            <img class="swlogo" src="../../../assets/images/swlogo.png" alt="Photo of a Shiba Inu" />
        </div>

        <div class="page-title">Secureworks Coding Test</div>
    </div>

    <div class="info-tab-style">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title class="title-style">
                    <span class="icon-header">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">person_add</mat-icon>
                    </span>
                    <span class="header-nav-typography">Add User tab</span>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p class="paragraph-style">
                    In this tab you will allow to add the user entry using Angular material form.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-divider class="divider-margin"></mat-divider>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title class="title-style">
                    <span>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">assessment</mat-icon>
                    </span>
                    <span class="header-nav-typography">Show data tab</span>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p class="paragraph-style">
                    In this tab you will see user demographics visualization.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="autho-info">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title class="title-style">
                    <span>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
                    </span>
                    <span class="header-nav-typography">Done by</span>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>
                    Harshil Patel
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- <div>
    <app-userdata></app-userdata>
</div>
<div>
    <app-datavisualize></app-datavisualize>
</div>  -->